*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(7, 0, 21);
    font-family: sans-serif;
    color:antiquewhite;
    line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap:70px;
    padding-top: 40px;
    margin: auto;
}
.sidebar{
    height:90vh;
    background-color: #2a2a2a;
    border: 1px;
    border-radius: 20px;
    border: 1px double rgb(47, 45, 45);
    border-style:double;
    border: 1px double rgb(47, 45, 45);
    position:sticky;
    top: 40px;
}
.main-content{
    background-color: #2a2a2a;
    border-radius: 20px;
    border-color: rgb(47, 45, 45);
    border-style:double;
    padding: 20px 40px;
    text-align:justify;
}
.portfolio img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border-color: rgba(22, 2, 2, 0.23);
    border-style:double;
    margin-top:5%;
     box-shadow: 0 0 15px rgba(222, 217, 227, 0.7);
    
}
.portfolio{
    text-align: center;
}
.portfolio h2{
font-size: 1.5rem;
font-weight: 700;
margin-top:0px;
text-shadow: 0 0 15px #ac74af;
}
.portfolio p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: orange;
    border: 1px;
    border-color: #2a2a2a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
    text-shadow: 0 0 15px #ac74af;
}
   .contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    margin-left: 20px;  /* adds space from the sidebar’s left edge */
    margin-right: 20px; /* adds space from the sidebar’s right edge */
    padding-top: 20px;
    text-align: left;
    font-size: smaller;
    border-radius: 20px;
    
}
.value{
    color:aliceblue;
     text-decoration: none; 
}
.email , .phone{
    margin-bottom: 15px;
}
.social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    margin-left: 20px;  /* adds space from the sidebar’s left edge */
    margin-right: 20px; /* adds space from the sidebar’s right edge */
    text-align: center;
    border-radius: 20px;
}
.social img{
    height: 40px;
    width: 40px;
    border: none;
    margin: 15px;
    filter: grayscale(1) invert(0.7);
    transition:  filter 0.8s ease;
    box-shadow: 0 0 15px rgba(218, 6, 6, 0); 
    
}
.social img:hover{
    filter: grayscale(0) invert(0); 
    box-shadow: 0 0 25px rgba(255, 140, 0, 0.7); /* 🔥 warm glow on hover */
    transform: scale(1.1);
    border-radius: 20px;
}
#navigation{
    padding: 20px 40px;
    border-radius: 20px;
    
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: #ffffff96;
    font-weight: 500;
    transition: color 0.3s ease;
}
.active , nav a:hover{
    color:#FFBf00; ;
}

#navigation{
    margin-bottom: 0px;
    border-bottom: 2px solid #3a3a3a;
    margin-left: 20px;  /* adds space from the sidebar’s left edge */
    margin-right: 20px; 
    
}
.heading{
    color:#e0e0e0;
}
.line{
    width: 60px;
    height: 5px;
    background-color: #FFBf00;
    margin-bottom: 15px;
    border-radius: 20px;

}
.para{
    color: #ffffff;
}
.heading{
    color:#e0e0e0;
    font-size: 2rem;
    padding-bottom: 3px;
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 15px;
   
}
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit , minmax(120px,1fr));
    gap: 30px;
}
.item img{
    width: 48px;
    height: 48px;
    filter:invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
    margin-bottom: 15px;
}
.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
     text-align: center;
     margin-top: 20px;
     transition: transform 0.3s ease , box-shadow 0.3s ease;
     
   
}
.item h3{
    font-size: 1rem;
    font-weight: 500;
}
.item:hover{
    transform: scale(1.1);
    box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.3) ;
}
 

.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}
.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.college{
font-style: italic;
color:#a0a0a0;
margin-top: 10px;
}
.work{
    color: #a0a0a0;;
}
.edfirst , .edsecond , .edthird{
    margin-bottom: 30px;
    position: relative;
     padding-left: 25px;
}
.edtech{
    position: relative;
    margin-top: 20px;
}
.goal{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 3px solid #FFBf00;
    position: absolute;
    top: 5px;
    left: 0px;
    z-index: 5;
}
.liner{
    position: absolute;
    width:2px;
    top: 5px;
    bottom:0px;
    border: 2px solid #3e3e3e;
    left: 5.4px;
    
}
#about .heading {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 10px;
    margin-top: 15px;
}
#about .line {
    margin-top: -7px;   /* moves it up closer to the heading */
}

.project-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap :25px;
    margin-top: 30px;

}
.project img{
    height: 180;
    width: 100%;
    object-fit: cover;
}
.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 1s ease , box-shadow 0.3s ease;
}
.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px #000000;
}
.card{
    padding: 20px;
}
.card h3{
    color:#e0e0e0 ;
    margin-bottom: 10px;
}
.card p{
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 15px;

}
.card span{
    background-color: rgba(255, 191, 0, 0.1);
    color: #FFBf00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}
@media screen and (max-width: 1200px){
   .main-container{
    grid-template-columns: 1fr;
    padding: 20px;
   }
   .sidebar{
    position: static;
    height: auto;
   } 
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* prevents content from hiding behind sticky sidebar */
}
